p {
    font-size: 13px;
    padding: 5px;
    border-radius: 3px;
}
 
.base_receive p {
    background: #4bdbe6;
}
 
.base_sent p {
    background: #e674a8;
}
 
time {
    font-size: 11px;
    font-style: italic;
}
 
#login-box {
    margin-top: 20px
}
 
#chat_box {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 27%;
}
 
.close-chat {
    margin-top: -17px;
    cursor: pointer;
}
 
.chat_box {
    margin-right: 25px;
    width: 310px;
}
 
.chat-area {
    height: 400px;
    overflow-y: scroll;
}
 
#users li {
    margin-bottom: 5px;
}
 
#chat-overlay {
    position: fixed;
    right: 0%;
    bottom: 0%;
}
 
.glyphicon-ok {
    color: #42b7dd;
}
 
.loader {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}